/* Estilos generales */
body {
    background-color: #93A17A;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.bannerCalasanz {
    width: 100%;
    padding: 30px;
    background-image: url("../img/fondo_navidad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    cursor: pointer;
}

.texto {
    font-size: 40px;
    color: rgb(222, 222, 222);
    font-weight: bold;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #FF1493;
}

/* Menú principal en modo web */
.menu {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    width: 100%;
    background-color: #A1242A;
}

.menu a {
    flex-grow: 1;
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #FF1493;
}

/* Estilos para el contenido principal */
main {
    display: flex;
    flex-grow: 1;
    padding: 20px;
}

.cuerpo {
    display: flex;
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
}

.contenido-principal {
    flex: 3;
    background-color: #D3D3D3;
    padding: 20px;
    border-radius: 10px;
}

.sidebar {
    flex: 1;
    background-color: #D3D3D3;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
}

/* Estilos para el pie de página en modo web */
.web-footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #A1242A;
}

.web-footer a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.menuMovil {
    display: none;
    justify-content: center;
    padding: 30px;
    background-color: #A1242A;
}

.menuMovil a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

/* Estilos para dispositivos móviles */
.menu-toggle {
    display: none;
    background-color: #A1242A;
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

i {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    box-shadow: inset 0 -1px 1px rgb(114, 114, 114);
    top: -10px;
    animation: nieve linear infinite;
}

/* Estilos de la sección de noticias */
.noticias-section {
    padding: 20px;
    background-color: #F5F5F5;
    text-align: center;
}

.titulo-seccion {
    font-size: 20px;
    color: #B0B0B0;
    font-weight: normal;
    margin: 0;
}

.titulo-principal {
    font-size: 36px;
    color: #1A374D;
    margin: 10px 0 20px;
}

.noticias-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.noticia {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    vertical-align: middle;
}

.noticia img {
    width: 120px;
    height: 120px;
    
}

.contenido-noticia {
    padding: 10px;
    text-align: left;
}

.fecha-noticia {
    font-size: 14px;
    color: #A0A0A0;
}

.titulo-noticia {
    font-size: 18px;
    color: #1A374D;
    margin: 5px 0;
}

.contenido-noticia p {
    font-size: 14px;
    color: #4A4A4A;
    margin: 5px 0 0;
}


@media(max-width:601px){
    .web-footer{
        display: none;
    }
    .menuMovil{
        display: flex;
    }

    .sidebar{
        display: none;
    }
    .menu{
        display: none;
    }

}

@keyframes nieve {
    0% {
        top: -10px;
    }
    100% {
        top: calc(100vh);
    }
}
