body {
    background-color: #93A17A;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0;
}

.menu {
    justify-content: center;
    display: flex;
}

.menu a {
    border: 1px solid black;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    display: inline-block;
    flex-grow: 4;
    text-align: center;
}

.menu a:hover {
    background-color: #A1242A;
    transform: scale(1.02); 
}

.bannerCalasanz {
    margin-bottom: 15px;
    border: 1px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("../img/fondo_navidad.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%; /* Aseguramos que el banner ocupe el 100% del ancho */
}

.texto {
    margin-bottom: 15px;
    font-size: 80px;
    text-align: center;
    color: rgb(222, 222, 222);
    font-weight: bold;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #FF1493;
}

i {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    box-shadow: inset 0 -1px 1px rgb(114, 114, 114);
    top: -10px;
    animation: nieve linear infinite;
}

@keyframes nieve {
    0% {
        top: -10px;
    }
    100% {
        top: calc(100vh);
    }
}

/* Nuevas reglas para el menú desplegable */
.menu {
    display: none; /* Ocultamos el menú por defecto en móviles */
    flex-direction: column; /* Cambiamos a columna para móviles */
    width: 100%; /* Aseguramos que ocupe el 100% del ancho */
}

.menu a {
    border: 1px solid black;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    display: block; /* Cambiamos a block para ocupar todo el ancho */
    width: 100%; /* Aseguramos que cada enlace ocupe el 100% del ancho */
    text-align: center;
}

.menu-toggle {
    display: none; /* Ocultamos el botón por defecto */
    background-color: #A1242A;
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Mostramos el botón en móviles */
    }

    .menu.active {
        display: flex; /* Mostramos el menú cuando está activo */
    }

    .texto {
        margin-bottom: 15px;
        font-size: 30px;
        text-align: center;
        color: rgb(222, 222, 222);
        font-weight: bold;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: #FF1493;
    }

    

}
